
.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-weight: bold;      
}

.welcome-text a {
  font-size: 22px;
  font-weight: normal;
}

p {
  font-size: 60px;
  font-weight: bold;
}

.btn-start {
  width: 200px;
  height: 48px;
  background-color: #8B4513;
  border: none;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  margin-top: 20px;
  border-radius: 5px;
}

.header {
  background-color: #667EEA;
  height: 12vh;
  width: 100%;
  margin: 0;
  position: fixed;
}

.header img {
  height: 10vh;
  margin-left: 20px;
  margin-top: 10px;
}

.init {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

